.nav {
    display: flex;
    justify-content: flex-end;
    li:last-child {
        margin-right: 6rem;
    }
}

.nav__link {
    display: block;
    padding: 2.7rem 1.6rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color .3s linear;
    
    &:hover {
        color: $primary;
    }
}